<ion-view>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
        <div id="player"></div>
        <div class="toggle" ng-click="extended = !extended; openForm = false;" ng-class="{ 'rotate': extended }">+</div>
        <div id="current-stations" ng-class="{ 'open': extended }">
          <div class="inner">
            <div class="in-range" ng-hide="openForm === true">
              <h3>Stations in range</h3>
              <ul>
                <li ng-repeat="station in stationsInRange" ng-click="changeStation()">
                  {{station.name}} ({{station.vibes}}) <span ng-if="station.name == playing.name" class="now-playing">now playing</span>
                </li>
              </ul>
            </div>
            <div class="form-container">
              <div ng-click="openForm = !openForm" class="create-station" ng-class="{ 'bottom': openForm !== true}">Create a station</div>
              <form ng-show="openForm === true">
                <input type="text" placeholder="Name your station">
                <input type="text" placeholder="What's your station's vibes?">
                <input type="text" placeholder="Enter a Soundcloud playlist or song URL">
                <div id="submit-form">Submit</div>
              </form>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
